class MergerCli < Formula
  desc "%%DESCRIPTION%%"
  homepage "%%HOMEPAGE%%"
  url "https://github.com/diogotoporcov/merger-cli/releases/download/%%TAG_NAME%%/merger-cli-macos.tar.gz"
  sha256 "%%SHA256%%"
  license "GPL-3.0-or-later"

  depends_on "libmagic"

  def install
    libexec.install Dir["merger-cli-macos/*"]
    bin.install_symlink libexec/"merger"
  end

  test do
    assert_match "merger", shell_output("#{bin}/merger --version")
  end
end
