<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <!-- Preprocessor variables to be passed via -dVariableName=Value -->
    <!-- Required: Version, Description, Homepage, LicenseRtf -->

    <Package Name="Merger CLI" 
             Language="1033" 
             Version="$(var.Version)" 
             Manufacturer="Diogo Toporcov" 
             UpgradeCode="00c8077c-6582-4166-879e-7117565d070b" 
             InstallerVersion="200" 
             Scope="perMachine">
             
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Merger CLI" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="SetPath" />
        </Feature>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />
        <SetProperty Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" After="AppSearch" />
        <Property Id="ApplicationFolderName" Value="MergerCLI" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        
        <Property Id="REMOVE_DATA" Value="0" />
        <Property Id="WixUI_Mode" Value="Advanced" />

        <SetProperty Id="DataFolder" Value="[AppDataFolder]MergerCLI" After="AppSearch" />
        <SetProperty Id="LocalDataFolder" Value="[LocalAppDataFolder]MergerCLI" After="AppSearch" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="MergerCLI" />
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Merger CLI"/>
        </StandardDirectory>
        <StandardDirectory Id="AppDataFolder">
            <Directory Id="MERGER_APPDATA" Name="MergerCLI" />
        </StandardDirectory>
        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="MERGER_LOCALAPPDATA" Name="MergerCLI" />
        </StandardDirectory>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Files Include="..\dist\merger-cli\**" />
        </ComponentGroup>

        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="SetPath" Guid="8D4077C5-6582-4166-879E-7117565D070C">
                <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8D4077C5-6582-4166-879E-7117565D070D">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Merger CLI" 
                          Description="$(var.Description)"
                          Target="[INSTALLFOLDER]merger.exe"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\MergerCLI" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="MERGER_APPDATA">
            <Component Id="CleanupAppData" Guid="8D4077C5-6582-4166-879E-7117565D070E">
                <RegistryValue Root="HKMU" Key="Software\MergerCLI" Name="cleanup_appdata" Type="integer" Value="1" KeyPath="yes" />
                <util:RemoveFolderEx Property="DataFolder" Condition="REMOVE_DATA=&quot;1&quot;" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="MERGER_LOCALAPPDATA">
            <Component Id="CleanupLocalAppData" Guid="8D4077C5-6582-4166-879E-7117565D070F">
                <RegistryValue Root="HKMU" Key="Software\MergerCLI" Name="cleanup_localappdata" Type="integer" Value="1" KeyPath="yes" />
                <util:RemoveFolderEx Property="LocalDataFolder" Condition="REMOVE_DATA=&quot;1&quot;" />
            </Component>
        </DirectoryRef>

        <Feature Id="CleanupFeature" Title="Cleanup" Level="1">
            <ComponentRef Id="CleanupAppData" />
            <ComponentRef Id="CleanupLocalAppData" />
        </Feature>

        <UI>
            <ui:WixUI Id="WixUI_Advanced" />
            <Publish Dialog="VerifyReadyDlg" Control="Install" Event="NewDialog" Value="UninstallDataDlg" Order="1" Condition="WixUI_InstallMode = &quot;Remove&quot;" />
            
            <Dialog Id="MaintenanceWelcomeDlg" Width="370" Height="270" Title="[ProductName] Setup">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Event="NewDialog" Value="MaintenanceTypeDlg" />
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.MaintenanceWelcomeDlgBannerBitmap)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.MaintenanceWelcomeDlgTitle)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.MaintenanceWelcomeDlgDescription)" />
            </Dialog>

            <Dialog Id="UninstallDataDlg" Width="370" Height="270" Title="[ProductName] Uninstall">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Remove data files created by the application." />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Remove Data Files" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                
                <Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="40" Text="Would you like to remove all configuration, stored data (database), and plugins created by Merger CLI?" />
                
                <Control Id="RemoveDataCheckbox" Type="CheckBox" X="25" Y="120" Width="320" Height="18" Property="REMOVE_DATA" CheckBoxValue="1" Text="Yes, remove all Merger CLI data files." />

                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Remove" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Uninstall">
                    <Publish Event="EndDialog" Value="Return" />
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="EndDialog" Value="Exit" />
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
                    <Publish Event="NewDialog" Value="VerifyReadyDlg" />
                </Control>
            </Dialog>
        </UI>
    </Package>
</Wix>
