<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

    <Package Name="Merger CLI"
             Language="1033"
             Version="$(var.Version)"
             Manufacturer="Diogo Toporcov"
             UpgradeCode="00c8077c-6582-4166-879e-7117565d070b"
             InstallerVersion="500"
             Scope="perMachine">

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Merger CLI" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="SetPath_Machine" />
            <ComponentRef Id="SetPath_User" />
        </Feature>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="APPLICATIONFOLDER" Name="Merger CLI" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Merger CLI"/>
        </StandardDirectory>

        <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
            <Files Include="..\dist\merger-cli\**" />
        </ComponentGroup>

        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="SetPath_Machine" Guid="8D4077C5-6582-4166-879E-7117565D070C" Condition="WixAppFolder = &quot;WixPerMachineFolder&quot;">
                <Environment Id="PATH_Machine" Name="PATH" Value="[APPLICATIONFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
            </Component>

            <Component Id="SetPath_User" Guid="8D4077C5-6582-4166-879E-7117565D070B" Condition="WixAppFolder = &quot;WixPerUserFolder&quot;">
                <Environment Id="PATH_User" Name="PATH" Value="[APPLICATIONFOLDER]" Permanent="no" Part="last" Action="set" System="no" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8D4077C5-6582-4166-879E-7117565D070D">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Merger CLI"
                          Description="$(var.Description)"
                          Target="[APPLICATIONFOLDER]merger.exe"
                          WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\MergerCLI" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <ui:WixUI Id="WixUI_Advanced" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />
        <Property Id="ApplicationFolderName" Value="Merger CLI" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    </Package>
</Wix>